<div class="hompage-container">
  <h1 class="title">Hi {{ username }}, Welcome to Pizza Galaxy</h1>
  <section>
    <h3 class="title">Our Pizza's are out of this world!</h3>
  </section>

  <section class="main-wrapper">
    <h2>What would you like to do today?</h2>
    <div class="main-options">
      <button mat-flat-button color="accent" routerLink="/order">
        Place an order
      </button>
      <button mat-flat-button color="accent" routerLink="/receipt">
        View my history
      </button>
    </div>
  </section>
</div>
